{% extends 'base.html' %}

{% block title %} Display {% endblock %}

{% block content %}
<h2 class="mb-4">{{ title | title }}</h2>

{% if rows %}
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        {% for col in columns %}
        <th>{{ col.replace('_', ' ') | title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        {% for col in columns %}
        <td>{{ row[col] | title}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-warning">No results found.</div>
{% endif %}

{% endblock %}